footer
    .footer
        .container
            .spc_footrr_main
                .llldd_fftr.lftttt
                    a.logo_footer(href="index.html")
                        img(src="images/logo/logo_3.png", alt="")
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi natus in velit tenetur! Qui praesentium fugit alias mollitia vel quasi consequuntur provident harum! Possimus nihil distinctio repudiandae incidunt ut eius fugiat quo assumenda iure illo, a, neque molestiae! Quae deleniti ducimus quis error vero corporis exercitationem eos voluptatibus sunt excepturi aperiam odio iusto fuga corrupti officia dolor itaque nam nostrum eligendi recusandae quisquam laborum.
                .llldd_fftr
                    .linr_info_foottrrr
                        .titt_line_fftr Direccion:
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis alias asperiores minima magni earum odit fugiat exercitationem placeat! Voluptate porro nisi at nesciunt libero voluptatum ea maxime debitis perspiciatis saepe beatae nostrum aliquid, ipsa quia quo quis aspernatur eveniet facilis.
                    .linr_info_foottrrr
                        .titt_line_fftr Telefonos:
                        .telfff
                            a(href="#") +00-000-000-0000
                            span |
                            a(href="#") +00-000-000-0000
                    .linr_info_foottrrr
                        .titt_line_fftr Email:
                        .telfff
                            a(href="#") correo@corrego.com
                            span |
                            a(href="#") correo@corrego.com
                    .linr_info_foottrrr
                        .titt_line_fftr Redes:
                        .redes
                            a(href="#")
                                i.fab.fa-facebook
                            span |
                            a(href="#")
                                i.fab.fa-instagram
                            span |
                            a(href="#")
                                i.fab.fa-twitter
                            
    .sud_footer
        .container
            .lllnnn_sbb
                .lddd_sftrr
                    .cntrl_img_sub_footrr
                        img(src="images/logo/logo_3.png", alt="")
                    span Todos los derechos reservados
                .lddd_sftrr
                    .menu
                        a(href="index.html") Home
                        a(href="blog.html") Blog
                        a(href="productos.html") Productos
                        a(href="nosotros.html") Nosotros
                        a(href="contacto.html") Contactanos
                        

script(src="js/jquery.js")
script(src="js/all.js")
script(src="js/owl.carousel.min.js")
script(src="js/main.js")