header
    .container
        .spc_hedrr
            a.logo(href="index.html")
                img(src="images/logo/logo_1.png", alt="")
            .cntrl_menu
                .cntrl_btm_menu_resp
                    .btm_menu
                        .icon_barrs.active
                            i.fas.fa-bars
                        .icon_times
                            i.fas.fa-times
                .menu
                    a(href="index.html") Home
                    a(href="blog.html") Blog
                    a(href="productos.html") Productos
                    a(href="contacto.html") Contactanos
