<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Konfort
        link(rel="stylesheet", href="css/main.css")
        link(rel="stylesheet", href="css/owl.carousel.min.css")
        link(rel="stylesheet", href="css/owl.theme.default.min.css")
   
    body
        include includes/_header
        .content_main
            .space_imt_top
                .content_tit_top
                    h4 Blogs
                .img_main_blogggss
                    img(src="images/sleep_wmn2.jpg", alt="")
            .container
                .space_griddd
                    a.item_blog(href="detalle_blog.html")
                        .top_blog
                            .box_img_blog
                                img(src="images/sleep_wmn1.jpg", alt="")
                            .content_prev_blog
                                .tit_prev_blog Titulo del Blog...
                                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, velit, deserunt illo, quisquam eveniet explicabo adipisci unde esse suscipit fuga soluta recusandae iste. Rem doloribus repellendus officiis, expedita laborum dolor necessitatibus nisi atque repudiandae perspiciatis molestias, eveniet animi delectus eius officia error magni!...
                        .line_down
                    a.item_blog(href="detalle_blog.html")
                        .top_blog
                            .box_img_blog
                                img(src="images/sleep_wmn1.jpg", alt="")
                            .content_prev_blog
                                .tit_prev_blog Titulo del Blog...
                                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, velit, deserunt illo, quisquam eveniet explicabo adipisci unde esse suscipit fuga soluta recusandae iste. Rem doloribus repellendus officiis, expedita laborum dolor necessitatibus nisi atque repudiandae perspiciatis molestias, eveniet animi delectus eius officia error magni!...
                        .line_down
                    a.item_blog(href="detalle_blog.html")
                        .top_blog
                            .box_img_blog
                                img(src="images/sleep_wmn1.jpg", alt="")
                            .content_prev_blog
                                .tit_prev_blog Titulo del Blog...
                                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, velit, deserunt illo, quisquam eveniet explicabo adipisci unde esse suscipit fuga soluta recusandae iste. Rem doloribus repellendus officiis, expedita laborum dolor necessitatibus nisi atque repudiandae perspiciatis molestias, eveniet animi delectus eius officia error magni!...
                        .line_down
                    a.item_blog(href="detalle_blog.html")
                        .top_blog
                            .box_img_blog
                                img(src="images/sleep_wmn1.jpg", alt="")
                            .content_prev_blog
                                .tit_prev_blog Titulo del Blog...
                                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, velit, deserunt illo, quisquam eveniet explicabo adipisci unde esse suscipit fuga soluta recusandae iste. Rem doloribus repellendus officiis, expedita laborum dolor necessitatibus nisi atque repudiandae perspiciatis molestias, eveniet animi delectus eius officia error magni!...
                        .line_down
                    a.item_blog(href="detalle_blog.html")
                        .top_blog
                            .box_img_blog
                                img(src="images/sleep_wmn1.jpg", alt="")
                            .content_prev_blog
                                .tit_prev_blog Titulo del Blog...
                                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, velit, deserunt illo, quisquam eveniet explicabo adipisci unde esse suscipit fuga soluta recusandae iste. Rem doloribus repellendus officiis, expedita laborum dolor necessitatibus nisi atque repudiandae perspiciatis molestias, eveniet animi delectus eius officia error magni!...
                        .line_down
                    a.item_blog(href="detalle_blog.html")
                        .top_blog
                            .box_img_blog
                                img(src="images/sleep_wmn1.jpg", alt="")
                            .content_prev_blog
                                .tit_prev_blog Titulo del Blog...
                                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, velit, deserunt illo, quisquam eveniet explicabo adipisci unde esse suscipit fuga soluta recusandae iste. Rem doloribus repellendus officiis, expedita laborum dolor necessitatibus nisi atque repudiandae perspiciatis molestias, eveniet animi delectus eius officia error magni!...
                        .line_down

        include includes/_footer