<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Konfort
        link(rel="stylesheet", href="css/main.css")
        link(rel="stylesheet", href="css/owl.carousel.min.css")
        link(rel="stylesheet", href="css/owl.theme.default.min.css")
   
    body
        include includes/_header
        .content_main
            .space_imt_top
                .content_tit_top
                    .space_logo_about_us
                        img(src="images/logo/logo_2.png", alt="")
                .img_main_blogggss
                    img(src="images/bg-blog.jpg", alt="")
            .container
                .spc_info_contacto
                    .spc_mapaaa
                        iframe(src='https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d15812.8878217362!2d-72.23921173022461!3d7.7662714500000165!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2sve!4v1545927841196', width='600', height='450', frameborder='0', style='border:0', allowfullscreen='')

                    .spc_datos_comtcctt
                        li Lorem ipsum dolor, sit amet consectetur adipisicing elit. Non, obcaecati ullam. Obcaecati officia facere ratione ut corporis quia, hic ex, corrupti tenetur exercitationem consequatur quaerat deserunt perspiciatis libero eaque impedit.
                        li Lorem ipsum dolor, sit amet consectetur adipisicing elit. Non, obcaecati ullam. Obcaecati officia facere ratione ut corporis quia, hic ex, corrupti tenetur exercitationem consequatur quaerat deserunt perspiciatis libero eaque impedit.
                        li 000-000-0000-00
                        li 000-000-0000-00
                        li correo@correo.com
                        li correo@correo.com
                    .spc_formmm
                        form
                            input(type="email", name="", placeholder="Email")
                            input(type="input", name="", placeholder="Nombre y Apellido")
                            input(type="input", name="", placeholder="Asunto")
                            textarea(name="", cols="30", rows="10", placeholder="Mensaje")
                            .spc_btmm_fomr
                                button(type="submit") Enviar
                        
        
        include includes/_footer