<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Konfort
        link(rel="stylesheet", href="css/main.css")
        link(rel="stylesheet", href="css/owl.carousel.min.css")
        link(rel="stylesheet", href="css/owl.theme.default.min.css")
   
    body
        include includes/_header
        .content_main
            .space_imt_top
                .content_tit_top
                    h4 Titulo del Blog
                .img_main_blogggss
                    img(src="images/sleep_wmn1.jpg", alt="")
            .container
                .det_blogs
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium reprehenderit enim quaerat consequatur repellendus, autem soluta quas dolorum modi esse, eos necessitatibus nobis ratione. Eius perferendis animi, dolorem natus earum nam ea deleniti, culpa saepe vel, quis corporis incidunt sunt reprehenderit itaque blanditiis iusto? Ratione dolore nulla quod exercitationem assumenda.Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium reprehenderit enim quaerat consequatur repellendus, autem soluta quas dolorum modi esse, eos necessitatibus nobis ratione. Eius perferendis animi, dolorem natus earum nam ea deleniti, culpa saepe vel, quis corporis incidunt sunt reprehenderit itaque blanditiis iusto? Ratione dolore nulla quod exercitationem assumenda.
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium reprehenderit enim quaerat consequatur repellendus, autem soluta quas dolorum modi esse, eos necessitatibus nobis ratione. Eius perferendis animi, dolorem natus earum nam ea deleniti, culpa saepe vel, quis corporis incidunt sunt reprehenderit itaque blanditiis iusto? Ratione dolore nulla quod exercitationem assumenda. Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium reprehenderit enim quaerat consequatur repellendus, autem soluta quas dolorum modi esse, eos necessitatibus nobis ratione. Eius perferendis animi, dolorem natus earum nam ea deleniti, culpa saepe vel, quis corporis incidunt sunt reprehenderit itaque blanditiis iusto? Ratione dolore nulla quod exercitationem assumenda.
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium reprehenderit enim quaerat consequatur repellendus, autem soluta quas dolorum modi esse, eos necessitatibus nobis ratione. Eius perferendis animi, dolorem natus earum nam ea deleniti, culpa saepe vel, quis corporis incidunt sunt reprehenderit itaque blanditiis iusto? Ratione dolore nulla quod exercitationem assumenda.Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium reprehenderit enim quaerat consequatur repellendus, autem soluta quas dolorum modi esse, eos necessitatibus nobis ratione. Eius perferendis animi, dolorem natus earum nam ea deleniti, culpa saepe vel, quis corporis incidunt sunt reprehenderit itaque blanditiis iusto? Ratione dolore nulla quod exercitationem assumenda.
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium reprehenderit enim quaerat consequatur repellendus, autem soluta quas dolorum modi esse, eos necessitatibus nobis ratione. Eius perferendis animi, dolorem natus earum nam ea deleniti, culpa saepe vel, quis corporis incidunt sunt reprehenderit itaque blanditiis iusto? Ratione dolore nulla quod exercitationem assumenda. Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium reprehenderit enim quaerat consequatur repellendus, autem soluta quas dolorum modi esse, eos necessitatibus nobis ratione. Eius perferendis animi, dolorem natus earum nam ea deleniti, culpa saepe vel, quis corporis incidunt sunt reprehenderit itaque blanditiis iusto? Ratione dolore nulla quod exercitationem assumenda.
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium reprehenderit enim quaerat consequatur repellendus, autem soluta quas dolorum modi esse, eos necessitatibus nobis ratione. Eius perferendis animi, dolorem natus earum nam ea deleniti, culpa saepe vel, quis corporis incidunt sunt reprehenderit itaque blanditiis iusto? Ratione dolore nulla quod exercitationem assumenda.
                .space_contrlll
                    a(href="blog.html") Volver a Todos los Blogs
                
        
        include includes/_footer