<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Konfort
        link(rel="stylesheet", href="css/main.css")
        link(rel="stylesheet", href="css/owl.carousel.min.css")
        link(rel="stylesheet", href="css/owl.theme.default.min.css")
   
    body
        include includes/_header
        .content_main
            .container
                .spac_detall_producto
                    .box_img_proddct
                        img(src="images/clchn3.jpg", alt="")
                    .dett_producto
                        .line_ddddtlll
                            h3 Nombre del Producto
                            h4 Codigo del Producto
                            p descripcion corta Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi dolores neque molestiae ullam dolor tempore consequuntur officiis quod quis eveniet unde blanditiis necessitatibus repudiandae officia nulla, illo culpa rem minus!
                        .line_ddddtlll
                            .spc_price
                                .prccc.old 500$
                                .prccc 180$
                        
            .pppssss
                .container
                    .ttdcx Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores earum beatae ab laudantium provident accusantium deleniti pariatur, unde eveniet, animi est illo nesciunt, officia dolor? Dolore sequi facilis tempore perspiciatis aliquam in delectus inventore possimus cupiditate assumenda voluptas velit veniam hic tempora suscipit cum, architecto rerum quo dolor. Neque sed quae tempora quia optio nostrum, reprehenderit fuga incidunt omnis vitae reiciendis voluptates at sunt dolore similique? Consequatur vitae ullam fugit voluptatum, accusantium dolore, dolor impedit cupiditate voluptatibus nam sequi! Maiores at, ratione vero repellat perspiciatis et blanditiis saepe deleniti recusandae animi sit nesciunt corporis aspernatur obcaecati. In, corrupti ipsa sit excepturi velit eum nulla repellendus corporis animi nemo, labore doloremque numquam cupiditate esse sed tempora sapiente quae accusamus. Quis aspernatur aliquam numquam reprehenderit eveniet quisquam atque quo cupiditate recusandae nam beatae asperiores iusto vitae cumque, possimus eius, porro animi obcaecati repudiandae voluptate. A, voluptatibus, rerum culpa similique in minus quae distinctio aspernatur pariatur possimus, nihil exercitationem. Atque officia, ut dolorum molestiae rerum at, veniam explicabo facere vitae cumque, obcaecati ea perspiciatis quasi sunt. Facere quisquam quod mollitia incidunt minima, velit debitis adipisci ullam numquam reprehenderit. Corporis tempora, et maiores magni, recusandae ab amet minima nobis consectetur laborum beatae aliquid molestiae.           
                    
        section.producttt_destacados
            .container
                .tiittt_prodcct
                    h3 Productos mas 
                        span destacados
                        .linea
                .space_prd_destt.owl-carousel
                    .box_prodcctt
                        a.img_prodddd(href="detalle_producto.html")
                            img(src="images/clchn1.jpg", alt="")
                        .dettt_prodd
                            .lladd
                                .name Nombre del Producto
                                .codd (82xcD923)
                            .lladd
                                .price 120.000$
                                .old_price 160.000$
                        .btmmm_vr_mas
                            a(href="detalle_producto.html") Ver más
                            span
          

        include includes/_footer