<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Konfort
        link(rel="stylesheet", href="css/main.css")
        link(rel="stylesheet", href="css/owl.carousel.min.css")
        link(rel="stylesheet", href="css/owl.theme.default.min.css")
   
    body
        include includes/_header
    
        .slider_contenntt
            .container
                .slider
                    .img_slider
                        .contrll_sontent_slider
                            .content_textt
                                h3 Titulo de Slider 1
                                p texto corto del Slider
                            .cntrl_img_sliderr
                                img(src="images/sleep_wmn1.jpg", alt="")
                    .img_slider
                        .contrll_sontent_slider
                            .content_textt
                                h3 Titulo de Slider 2
                                p texto corto del Slider
                            .cntrl_img_sliderr
                                img(src="images/sleep_mn.jpg", alt="")
                    .img_slider
                        .contrll_sontent_slider
                            .content_textt
                                h3 Titulo de Slider 3
                                p texto corto del Slider
                            .cntrl_img_sliderr
                                img(src="images/sleep_wmn2.jpg", alt="")


        section
            .container
                .space_animation
                    .tiitttt_animmm
                        h2 Para un sueño de
                            span ensueño 
                    .colch_animadd
                        .layer.lyr1
                            img(src="images/animation_1/0004.png", alt="")
                        .layer.lyr2
                            img(src="images/animation_1/0003.png", alt="")
                        .layer.lyr3
                            img(src="images/animation_1/0002.png", alt="")
                        .layer.lyr4
                            img(src="images/animation_1/0001.png", alt="")

                .columnnnss
                    .colll
                        li Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam eos, repellat eius similique facilis voluptatibus exercitationem aliquam debitis porro tempore animi beatae aliquid. Praesentium hic nulla dolore dolores dolor cum?
                        li Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam eos, repellat eius similique facilis voluptatibus exercitationem aliquam debitis porro tempore animi beatae aliquid. Praesentium hic nulla dolore dolores dolor cum?
                        li Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam eos, repellat eius similique facilis voluptatibus exercitationem aliquam debitis porro tempore animi beatae aliquid. Praesentium hic nulla dolore dolores dolor cum?
                    .colll
                        li Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam eos, repellat eius similique facilis voluptatibus exercitationem aliquam debitis porro tempore animi beatae aliquid. Praesentium hic nulla dolore dolores dolor cum?
                        li Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam eos, repellat eius similique facilis voluptatibus exercitationem aliquam debitis porro tempore animi beatae aliquid. Praesentium hic nulla dolore dolores dolor cum?
                        li Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam eos, repellat eius similique facilis voluptatibus exercitationem aliquam debitis porro tempore animi beatae aliquid. Praesentium hic nulla dolore dolores dolor cum?
        
        
        section.producttt_destacados
            .container
                .tiittt_prodcct
                    h3 Productos mas 
                        span destacados
                        .linea
                .space_prd_destt.owl-carousel
                    .box_prodcctt
                        a.img_prodddd(href="detalle_producto.html")
                            img(src="images/clchn1.jpg", alt="")
                        .dettt_prodd
                            .lladd
                                .name Nombre del Producto
                                .codd (82xcD923)
                            .lladd
                                .price 120.000$
                                .old_price 160.000$
                        .btmmm_vr_mas
                            a(href="detalle_producto.html") Ver más
                            span
                    



        section.plllxx_blog
            .container
                .tiittt_prodcct
                    h3 Articulos mas
                        span destacados
                        .linea
                .spc_blog



                    a.itm_blog(href="detalle_blog.html")
                        .img_blog
                            img(src="images/sleep_wmn1.jpg", alt="")
                        h5 Titulo del Blog
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, odio animi. Ea sunt consectetur molestias quaerat laboriosam odit totam soluta nam. Numquam fugit error nostrum maiores quos natus quia sed, soluta, expedita eaque, assumenda inventore a. Repellendus ipsam quasi similique.
                    a.itm_blog(href="detalle_blog.html")
                        .img_blog
                            img(src="images/sleep_mn.jpg", alt="")
                        h5 Titulo del Blog
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, odio animi. Ea sunt consectetur molestias quaerat laboriosam odit totam soluta nam. Numquam fugit error nostrum maiores quos natus quia sed, soluta, expedita eaque, assumenda inventore a. Repellendus ipsam quasi similique.
                    a.itm_blog(href="detalle_blog.html")
                        .img_blog
                            img(src="images/sleep_wmn2.jpg", alt="")
                        h5 Titulo del Blog
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, odio animi. Ea sunt consectetur molestias quaerat laboriosam odit totam soluta nam. Numquam fugit error nostrum maiores quos natus quia sed, soluta, expedita eaque, assumenda inventore a. Repellendus ipsam quasi similique.
                    .vrrr_morrr
                        a(href="blog.html") Ver todos
        
        include includes/_footer
