<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Konfort
        link(rel="stylesheet", href="css/main.css")
        link(rel="stylesheet", href="css/owl.carousel.min.css")
        link(rel="stylesheet", href="css/owl.theme.default.min.css")
   
    body
        include includes/_header
        .content_main
            .space_imt_top
                .content_tit_top
                    .space_logo_about_us
                        img(src="images/logo/logo_2.png", alt="")
                .img_main_blogggss
                    img(src="images/bg-blog.jpg", alt="")
            
            .container
                .det_blogs
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium reprehenderit enim quaerat consequatur repellendus, autem soluta quas dolorum modi esse, eos necessitatibus nobis ratione. Eius perferendis animi, dolorem natus earum nam ea deleniti, culpa saepe vel, quis corporis incidunt sunt reprehenderit itaque blanditiis iusto? Ratione dolore nulla quod exercitationem assumenda.Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium reprehenderit enim quaerat consequatur repellendus, autem soluta quas dolorum modi esse, eos necessitatibus nobis ratione. Eius perferendis animi, dolorem natus earum nam ea deleniti, culpa saepe vel, quis corporis incidunt sunt reprehenderit itaque blanditiis iusto? Ratione dolore nulla quod exercitationem assumenda.
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium reprehenderit enim quaerat consequatur repellendus, autem soluta quas dolorum modi esse, eos necessitatibus nobis ratione. Eius perferendis animi, dolorem natus earum nam ea deleniti, culpa saepe vel, quis corporis incidunt sunt reprehenderit itaque blanditiis iusto? Ratione dolore nulla quod exercitationem assumenda. Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium reprehenderit enim quaerat consequatur repellendus, autem soluta quas dolorum modi esse, eos necessitatibus nobis ratione. Eius perferendis animi, dolorem natus earum nam ea deleniti, culpa saepe vel, quis corporis incidunt sunt reprehenderit itaque blanditiis iusto? Ratione dolore nulla quod exercitationem assumenda.
                    .spc_img_abt_us
                        img(src="images/clchn1.jpg", alt="")
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium reprehenderit enim quaerat consequatur repellendus, autem soluta quas dolorum modi esse, eos necessitatibus nobis ratione. Eius perferendis animi, dolorem natus earum nam ea deleniti, culpa saepe vel, quis corporis incidunt sunt reprehenderit itaque blanditiis iusto? Ratione dolore nulla quod exercitationem assumenda. Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium reprehenderit enim quaerat consequatur repellendus, autem soluta quas dolorum modi esse, eos necessitatibus nobis ratione. Eius perferendis animi, dolorem natus earum nam ea deleniti, culpa saepe vel, quis corporis incidunt sunt reprehenderit itaque blanditiis iusto? Ratione dolore nulla quod exercitationem assumenda.
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium reprehenderit enim quaerat consequatur repellendus, autem soluta quas dolorum modi esse, eos necessitatibus nobis ratione. Eius perferendis animi, dolorem natus earum nam ea deleniti, culpa saepe vel, quis corporis incidunt sunt reprehenderit itaque blanditiis iusto? Ratione dolore nulla quod exercitationem assumenda.Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium reprehenderit enim quaerat consequatur repellendus, autem soluta quas dolorum modi esse, eos necessitatibus nobis ratione. Eius perferendis animi, dolorem natus earum nam ea deleniti, culpa saepe vel, quis corporis incidunt sunt reprehenderit itaque blanditiis iusto? Ratione dolore nulla quod exercitationem assumenda.
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium reprehenderit enim quaerat consequatur repellendus, autem soluta quas dolorum modi esse, eos necessitatibus nobis ratione. Eius perferendis animi, dolorem natus earum nam ea deleniti, culpa saepe vel, quis corporis incidunt sunt reprehenderit itaque blanditiis iusto? Ratione dolore nulla quod exercitationem assumenda. Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium reprehenderit enim quaerat consequatur repellendus, autem soluta quas dolorum modi esse, eos necessitatibus nobis ratione. Eius perferendis animi, dolorem natus earum nam ea deleniti, culpa saepe vel, quis corporis incidunt sunt reprehenderit itaque blanditiis iusto? Ratione dolore nulla quod exercitationem assumenda.
                    .img_abt_us
                        img(src="images/sleep_wmn1.jpg", alt="")
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium reprehenderit enim quaerat consequatur repellendus, autem soluta quas dolorum modi esse, eos necessitatibus nobis ratione. Eius perferendis animi, dolorem natus earum nam ea deleniti, culpa saepe vel, quis corporis incidunt sunt reprehenderit itaque blanditiis iusto? Ratione dolore nulla quod exercitationem assumenda.Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium reprehenderit enim quaerat consequatur repellendus, autem soluta quas dolorum modi esse, eos necessitatibus nobis ratione. Eius perferendis animi, dolorem natus earum nam ea deleniti, culpa saepe vel, quis corporis incidunt sunt reprehenderit itaque blanditiis iusto? Ratione dolore nulla quod exercitationem assumenda.
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium reprehenderit enim quaerat consequatur repellendus, autem soluta quas dolorum modi esse, eos necessitatibus nobis ratione. Eius perferendis animi, dolorem natus earum nam ea deleniti, culpa saepe vel, quis corporis incidunt sunt reprehenderit itaque blanditiis iusto? Ratione dolore nulla quod exercitationem assumenda. Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium reprehenderit enim quaerat consequatur repellendus, autem soluta quas dolorum modi esse, eos necessitatibus nobis ratione. Eius perferendis animi, dolorem natus earum nam ea deleniti, culpa saepe vel, quis corporis incidunt sunt reprehenderit itaque blanditiis iusto? Ratione dolore nulla quod exercitationem assumenda.
        
        include includes/_footer