<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Konfort
        link(rel="stylesheet", href="css/main.css")
        link(rel="stylesheet", href="css/owl.carousel.min.css")
        link(rel="stylesheet", href="css/owl.theme.default.min.css")
   
    body
        include includes/_header
        .content_main
            .space_imt_top
                .content_tit_top
                    h4 Nuestros Productos
                .img_main_blogggss
                    img(src="images/sleep_wmn2.jpg", alt="")
            .container
                .space_griddd
                    .box_prodcctt
                        a.img_prodddd(href="detalle_producto.html")
                            img(src="images/clchn1.jpg", alt="")
                        .dettt_prodd
                            .lladd
                                .name Nombre del Producto
                                .codd (82xcD923)
                            .lladd
                                .price 120.000$
                                .old_price 160.000$
                        .btmmm_vr_mas
                            a(href="detalle_producto.html") Ver más
                            span
                    .box_prodcctt
                        a.img_prodddd(href="detalle_producto.html")
                            img(src="images/clchn1.jpg", alt="")
                        .dettt_prodd
                            .lladd
                                .name Nombre del Producto
                                .codd (82xcD923)
                            .lladd
                                .price 120.000$
                                .old_price 160.000$
                        .btmmm_vr_mas
                            a(href="detalle_producto.html") Ver más
                            span
                    .box_prodcctt
                        a.img_prodddd(href="detalle_producto.html")
                            img(src="images/clchn1.jpg", alt="")
                        .dettt_prodd
                            .lladd
                                .name Nombre del Producto
                                .codd (82xcD923)
                            .lladd
                                .price 120.000$
                                .old_price 160.000$
                        .btmmm_vr_mas
                            a(href="detalle_producto.html") Ver más
                            span
        
                    .box_prodcctt
                        a.img_prodddd(href="detalle_producto.html")
                            img(src="images/clchn1.jpg", alt="")
                        .dettt_prodd
                            .lladd
                                .name Nombre del Producto
                                .codd (82xcD923)
                            .lladd
                                .price 120.000$
                                .old_price 160.000$
                        .btmmm_vr_mas
                            a(href="detalle_producto.html") Ver más
                            span
                    .box_prodcctt
                        a.img_prodddd(href="detalle_producto.html")
                            img(src="images/clchn1.jpg", alt="")
                        .dettt_prodd
                            .lladd
                                .name Nombre del Producto
                                .codd (82xcD923)
                            .lladd
                                .price 120.000$
                                .old_price 160.000$
                        .btmmm_vr_mas
                            a(href="detalle_producto.html") Ver más
                            span
                    .box_prodcctt
                        a.img_prodddd(href="detalle_producto.html")
                            img(src="images/clchn1.jpg", alt="")
                        .dettt_prodd
                            .lladd
                                .name Nombre del Producto
                                .codd (82xcD923)
                            .lladd
                                .price 120.000$
                                .old_price 160.000$
                        .btmmm_vr_mas
                            a(href="detalle_producto.html") Ver más
                            span
        
        include includes/_footer